<!DOCTYPE html>
<html>

	<head>
		{{- block "head" . -}}
			<title>{{ block "title" . }}{{ with .Title }}{{ . }}{{ end }} | {{ .Site.Title }}{{ end }}</title>
			{{ partial "head" . }}
		{{- end -}}
	</head>

	<body>
		{{- block "main" . -}}
		{{- end -}}

		<script>
		  if (window.netlifyIdentity) {
		    window.netlifyIdentity.on("init", user => {
		      if (!user) {
		        window.netlifyIdentity.on("login", () => {
		          document.location.href = "/admin/";
		        });
		      }
		    });
		  }
		</script>
	</body>

</html>