<meta charset="UTF-8">

<style>
	header{text-align: center; border-bottom: 1px solid #ccc; padding: 2em;}
	body{font-family: 'Lato', Verdana, sans;}

	.block-container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 1000px;
		flex-wrap: wrap;
		margin: 2em auto;
	}

	h3{text-align: center;}

	.block{
		width: 300px;
		overflow: hidden;
	}

	.block > img {
		display: block;
		width: 100%;
		height: auto;
	}

	.block > p, .video > p {
		text-align: center;
		font-size: .8em;
		font-weight: 400;
		color: #555;
		margin: 1em;
	}

	.video-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>